* {
	margin:0;
	padding: 0;
	transition: all .2s;
}
body {
/*	background-color: pink;*/
	font-family: comic sans-serif, Helvetica, Arial, sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
#heading {
	background-color: #c0cce4;  /* sky blue  */
/*	font-size: 24px;*/
}
#nav {
	padding-right: 50px;
	padding-bottom: 5px;
	text-align: right;
}
#nav li {
	background-color: #c3dcf0;
	display: inline-block;
	margin-left: 100px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 100px;
	text-align: center;
}
#heading a {
	text-decoration: none;
	font-size: 18px;
	color: #800d29;
}
#heading a:hover,
#booking a:hover,
footer a:hover {
	font-weight: bold;
}
#heading:after {
	content: '';
	display: block;
	clear: both;
}
#company-logo {
/*	background-color: lime;*/
	padding-top: 10px;
	padding-bottom: 5px;
	display: block;
}
#company-logo img {
	width: 100px;
	padding: 7px 0 5px 15px;
	float: left;
}
#company-logo h1 {
/*	background-color: pink;  */      /* used for debugging   */
	width: 60%;
	margin-left: 10px;
/*	padding: 7px 0 5px 0;*/
	color: #800d29;     /*  Fly to the Limit text color */
	font-size: 70px;
 	text-align: center;
 	letter-spacing: 14px;
 	float: left;
}
#contact-dtls {
	color: #800d29;
	width: 30%;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-right: 21px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
#contact-dtls ul {
	list-style: none;
}
#company-logo:after,
footer:after {
	content: '';
	clear: both;
	display: block;
}


		/*   DO NOT TOUCH THE CODES FROM HERE DOWN   */

main {
	background: url(../photos/wanaka_pan.jpg);
	background-size: cover;
	height: 700px;
	position: relative;
	display: block;
}

#aircraft {
	background-color: yellow;
	float: left;

}

#crew {
	background-color: maroon;
	float: right;

}



		/*   DO NOT TOUCH THE CODES FROM HERE DOWN   */

#booking {
	background-color: #800d29;
	color: white;
	text-align: center;
	width: 140px;
	bottom: 14px;
	right: 14px;
	position: absolute;
	padding: 20px;
}
#booking a {
	color: white;
}
#footer {
/*	padding-left: 0*/
	background-color: #e6f0f8;
	padding-bottom: 10px;
	text-align: left;
}
#footer li {
	background-color: #c3dcf0;
	background-color: #d7e8f7;
	display: inline-block;
	margin-left: 20px;
	margin-top: 7px;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	font-size: small;
	color: #800d29;
}
#footer a {
	text-decoration: none;
	color: #800d29;
	width: 230px;
}
#footer a {
	width: 230px;
}
#queenstown {
	width: 430px;
/*	text-align: left;*/
}
#wanaka {
	width: 450px;
}
#phone ,
#email {
	width: 180px;
}




