* {
	margin:0;
	padding: 0;
	transition: all .2s;
}
body {
/*	background-color: pink;*/
	font-family: comic sans-serif, Helvetica, Arial, sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
#heading {
	background-color: #c0cce4;  /* sky blue  */
/*	font-size: 24px;*/
}
#nav {
	padding-right: 50px;
	padding-bottom: 5px;
	text-align: right;
}
#nav li {
	background-color: #c3dcf0;
	display: inline-block;
	margin-left: 100px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 100px;
	text-align: center;
}
#heading a {
	text-decoration: none;
	font-size: 18px;
	color: #800d29;
}
#heading a:hover,
#booking a:hover,
footer a:hover {
	font-weight: bold;
}
#heading:after {
	content: '';
	display: block;
	clear: both;
}
#company-logo {
/*	background-color: lime;*/
	padding-top: 10px;
	padding-bottom: 5px;
	display: block;
}
#company-logo img {
	width: 100px;
	padding: 7px 0 5px 15px;
	float: left;
}
#company-logo h1 {
/*	background-color: pink;  */      /* used for debugging   */
	width: 60%;
	margin-left: 10px;
/*	padding: 7px 0 5px 0;*/
	color: #800d29;     /*  Fly to the Limit text color */
	font-size: 70px;
 	text-align: center;
 	letter-spacing: 14px;
 	float: left;
}
#contact-dtls {
	color: #800d29;
	width: 30%;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-right: 21px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
#contact-dtls ul {
	list-style: none;
}
#company-logo:after,
footer:after {
	content: '';
	clear: both;
	display: block;
}

/*   main is the main body of the index html file   */
#main {
	background: url(../photos/wanaka_pan.jpg);
	background-size: cover;
	height: 700px;
	position: relative;
	display: block;
}
#main:after {
	content: '';
	display: block;
	clear: both;
}

	/*   DO NOT TOUCH THE CODES FROM HERE UP   */



/*  aircraft-main is the main body of the aircraft html file  */
#aircraft-main {
	background-color: #f1f9ff;
	/*background-color: #feeef3;	*/
	height: 700px;
	position: relative;
}
#aircraft-main:after {
	content: '';
	display: block;
	clear: both;
}
h1 {
	margin-top: 30px;
	text-align: center;
	color: #800d29;
}
#aircraft {
/*	background-color: teal;*/
	float: left;
	width: 45%;
	height: 95%;
	border: 2px solid #800d29;
	margin-top: 15px;
	margin-left: 20px;
	padding: 5px;
}
#aircraft-thumbnails {
	/*background-color: pink;*/
	width: 97%;
	display: inline-block;
	margin-top: 15px;
}
#aircraft-1-3 a, 
#aircraft-4-6 a {
	margin: 5% 5%;
	display: inline-block;
	color: #800d29;
}
#aircraft-1-3 a, 
#aircraft-4-6 a {
	margin: 5%;
	display: inline-block;
	text-decoration: none;
	color: #800d29;
}
#aircraft-1-3 a:hover, 
#aircraft-4-6 a:hover {
	font-weight: bold;
}

#aircraft-1-3 {
/*	background-color: pink;*/
	width: 39%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
/*	border: 1px solid #800d29;*/
	text-align: center;
	float: left;
}
#aircraft-4-6 {
/*	background-color: blue;*/
	width: 39%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
/*	border: 1px solid #800d29;*/
	text-align: center;
	float: right;
}
#crew {
/*	background-color: olive;*/
	float: right;
	width: 45%;
	height: 95%;
	border: 2px solid #800d29;
	margin-top: 15px;
	margin-right: 20px;
	padding: 5px;
}
#crew-members {
	/*background-color: yellow;*/
	width: 97%;
	display: inline-block;
	margin-top: 15px;
}
h3 {
	margin-top: 10px;
	margin-bottom: 7px;
	text-align: left;
	font-style: italic;
	color: #920e2e;
}

#crew-members p {
	padding-bottom: 5px;
		color: #800d29;

}
#crew-1-3 {
	float: left;
	width: 45%;
	height: 30%;
	margin-left: 25px;
	margin-right: 5px;
	padding-top: 
}
#crew-4-5 {
	float: right;
	width: 45%;
	height: 30%;
	margin-left: 5px;
	margin-right: 25px;
}
article {
	text-align: left;
/*	padding-left: 10px*/;
	margin-left: 25px;
	margin-right: 25px;
}
#crew p {
/*	border: 1px dashed #920e2e;*/
	margin-bottom: 20px;

}
/*#article {
	width: 150px
	height: 30px;
	overflow: scroll hidden;
}*/

		/*   DO NOT TOUCH THE CODES FROM HERE DOWN   */

#booking {
	background-color: #800d29;
	color: white;
	text-align: center;
	width: 140px;
	bottom: 14px;
	right: 30px;
	position: absolute;
	padding: 20px;
}
#booking a {
	color: white;
}
#footer {
/*	padding-left: 0*/
	background-color: #e6f0f8;
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: left;
}
#footer li {
	background-color: #c3dcf0;
/*	background-color: #d7e8f7;*/
	display: inline-block;
/*	margin-left: 20px; */  /*margin-left different for each li item */
	margin-top: 10px;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	font-size: small;
	color: #800d29;
}
#footer a {
	text-decoration: none;
	color: #800d29;
	width: 230px;
}
#footer a {
	width: 230px;
}
#policy {
	margin-left: 40px;
}
#queenstown {
	width: 430px;
	margin-left: 40px;
/*	text-align: left;*/
}
#wanaka {
	width: 450px;
	margin-left: 40px;
}
#phone ,
#email {
	width: 180px;
	margin-left: 40px;
}




