* {
	margin:0;
	padding: 0;
	/*transition: all .2s;*/
}
body {
/*	background-color: pink;*/
	font-family: comic sans-serif, Helvetica, Arial, sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
#heading {
	background-color: #c0cce4;  /* sky blue  */
/*	font-size: 24px;*/
}
#nav {
	padding-right: 50px;
	padding-bottom: 5px;
	text-align: right;
}
#nav li {
	background-color: #c3dcf0;
	display: inline-block;
	margin-left: 100px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 100px;
	text-align: center;
}
#heading a {
	text-decoration: none;
	font-size: 18px;
	color: #800d29;
}
#heading a:hover,
#booking a:hover,
footer a:hover {
	font-weight: bold;
}
#heading:after {
	content: '';
	display: block;
	clear: both;
}
#company-logo {
/*	background-color: lime;*/
	padding-top: 10px;
	padding-bottom: 5px;
	display: block;
}
#company-logo img {
	width: 100px;
	padding: 7px 0 5px 15px;
	float: left;
}
#company-logo h1 {
/*	background-color: pink;  */      /* used for debugging   */
	width: 60%;
	margin-left: 10px;
/*	padding: 7px 0 5px 0;*/
	color: #800d29;     /*  Fly to the Limit text color */
	font-size: 70px;
 	text-align: center;
 	letter-spacing: 14px;
 	float: left;
}
#contact-dtls {
	color: #800d29;
	width: 30%;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-right: 21px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
#contact-dtls ul {
	list-style: none;
}
#company-logo:after,
footer:after {
	content: '';
	clear: both;
	display: block;
}

/*   STYLES FOR THE HOME PAGE/INDEX FILE    */
#main {
	background: url(../photos/wanaka_pan.jpg);
	background-size: cover;
	height: 700px;
	position: relative;
	display: block;
}
#main:after {
	content: '';
	display: block;
	clear: both;
}



/*    STYLES FOR A BOOK A TOUR PAGE, from here down    */

#book-main {
	background-color: #f1f9ff; /* this will be the live color*/
	height: 700px;
	position: relative;
	display: block;
	color: #800d29;
}
#book-main:after {
	content: '';
	display: block;
	clear: both;
}
#booking-instructions h3 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;

	
}

form {
	/*background-color: red;*/
/*	padding: 25px;
*/
}
form div {
	margin: 5px;
}
fieldset {
	background-color: #fcb6c7;
	margin-top: 20px;
	margin-bottom: 10px;
}
label {
	margin-right: 15px;
}
#number-gliders-message, #glider-date-message, #glider-hours-message,
#glider-group-message, 
#sightseeing-type-message, #sightseeing-date-message, #aircraft-type-message, 
#number-sightseers-message,#sightseeing-group-message,
#charter-type-message, #charter-date-message, #charter-place-message,
#charter-group-message,
#delivery-date-message, #delivery-place-message, #delivery-group-message,
#pickup-date-message, #pickup-place-message, #pickup-group-message, 
#firstname-message, #surname-message, #email-message, 
#landline-message, #mobile-message, #customer-message
{
	font-weight: bold;
	font-size: large;
	color: red;
}

.glider-group,  .sightseeing-group,
.charter-group, .delivery-group,
.pickup-group,  .customer-group {
	display: inline-table;
	margin-bottom: 10px;
	margin-right: 15px;
}
#charter-place
#delivery-place {
	width: 500px;
	height: 5px;
/*	min-width: 50px;
	min-height: 50px;*/
	max-width: 500px;
	max-height: 5px;
}
#firstname, #surname, 
#email {
	width: 300px;
}

#submit-button {
/*	background-color: #fcb6c7;*/
/*	color: #800d29;*/
	background-color: #800d29;
	color: white;
	margin-top: 7px;
	margin-left: 85%;
	font-size: x-large;
	padding: 5px;

}



/*   STYLES FOR THE MAIN BODY OF THE "RATES" PAGE  */
#rates-main {
/*	background-color: #f99db4;*/
/*	background-color: #99b6cf;*/
/*	background-color: #7eadd4;*/
/*	background-color: #6793b8;*/
	background-color: #7698b4;
	height: 700px;
	position: relative;
	display: block;
	color: #800d29;
}
#rates-main:after {
	content: '';
	display: block;
	clear: both;
}
#tours-rates {
/*	background-color: pink;*/
	display: block;
}
#tours-rates:after {
	content: '';
	display: block;
	clear: both;	
}
#tours-rates caption {
	text-align: left;
	font-size: x-large;
}
#tours,
#rates  {
	width: 40%;
	margin-top: 100px;
	font-size: large;
}
#tours {
/*	background-color: red;*/
	margin-left: 100px;
	display: block;
	float: left;
}
#tours tr,
#rates tr {
	/*	background-color: blue;*/
	height: 35px;
}
.type-col {
	width: 160px;
	text-align: center;
}

.fa {
	padding-left: 45%;
}
#rates {
/*	background-color: orange;*/
	margin-right: 70px;
	display: block;
	float: right;
}
.rates-col {
	width: 300px;
}
#rates td {
	padding-left: 20%;
}



/*  STYLES FOR THE AIRCRAFT SECTION OF THE AIRCRAFT/CREW PAGE */
#aircraft-main {
	background-color: #f1f9ff;
	/*background-color: #feeef3;	*/
/*	height: 700px;*/
	position: relative;
}
#aircraft-main:after {
	content: '';
	display: block;
	clear: both;
}
#aircraft h1,
#crew h1 {
	margin-top: 30px;
	text-align: center;
	color: #800d29;
}
#aircraft {
/*	background-color: teal;*/
	float: left;
	width: 45%;
	height: 95%;
	border: 2px solid #800d29;
	margin-top: 15px;
	margin-left: 20px;
	padding: 5px;
}
#aircraft-thumbnails {
	/*background-color: pink;*/
	width: 97%;
	display: inline-block;
	margin-top: 15px;
}

#aircraft-1-3 a, 
#aircraft-4-6 a {
	margin: 5%;
	display: inline-block;
	text-decoration: none;
	color: #800d29;
}
#aircraft-1-3 a:hover, 
#aircraft-4-6 a:hover {
	font-weight: bold;
}

#aircraft-1-3 {
	/*	background-color: pink;*/
	/*	border: 1px solid #800d29;*/
	width: 39%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	float: left;
}
#aircraft-4-6 {
	/*	background-color: blue;*/
	/*	border: 1px solid #800d29;*/
	width: 39%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;

	text-align: center;
	float: right;
}
#crew-main {
	background-color: #f1f9ff;
	/*background-color: #feeef3;	*/
	height: 700px;
	position: relative;
}
#crew-main:after {
	content: '';
	display: block;
	clear: both;
}
#crew {
/*	background-color: olive;*/
	float: right;
	width: 45%;
/*	height: 95%;*/
	border: 2px solid #800d29;
	margin-top: 15px;
	margin-right: 20px;
	padding: 5px;
}
#crew-members {
	/*background-color: yellow;*/
	width: 97%;
	display: inline-block;
	margin-top: 15px;
}
#crew h3 {
	padding-top: 10px;
	margin-bottom: 7px;
	text-align: left;
	font-style: italic;
	color: #920e2e;
}

#crew-members p {
	padding-bottom: 5px;
		color: #800d29;

}
#crew-1-3 {
	float: left;
	width: 45%;
	height: 30%;
	margin-left: 25px;
	margin-right: 5px;
}
#crew-4-5 {
	float: right;
	width: 45%;
	height: 30%;
	margin-left: 5px;
	margin-right: 25px;
}
article {
	text-align: left;
/*	padding-left: 10px*/;
	margin-left: 25px;
	margin-right: 25px;
}
#crew p {
	margin-bottom: 20px;
}


/*/*   STYLES FOR "GALLERY" PAGE, from here down   */
#gallery-main {
	background-color: teal;
	height: 700px;
	position: relative;
	display: block;
}
#gallery-main:after {
	content: '';
	display: block;
	clear: both;
}
.gallery {
	height: 33%;
	border: 1px solid #800d29;
	padding-top: 7px;
	margin-left: 10px;
}
.gallery h2 {
	margin-bottom: 10px;
}


/*   STYLES FOR "MAKE A BOOKING" PROMPT, ON ALL PAGES - FROM HERE DOWN   */

#booking {
	background-color: #800d29;
	color: white;
	text-align: center;
	width: 140px;
	bottom: 14px;
	right: 30px;
	position: absolute;
	padding: 20px;
}
#booking a {
	color: white;
}


/*   STYLES FOR FOOTERS  -  FROM HERE DOWN   */


#footer {
/*	padding-left: 0*/
	background-color: #e6f0f8;
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: left;
	clear: both;
}
#footer li {
	background-color: #c3dcf0;
/*	background-color: #d7e8f7;*/
	display: inline-block;
/*	margin-left: 20px; */  /*margin-left different for each li item */
	margin-top: 10px;
	border-radius: 5px;
	padding: 2px;
	text-align: center;
	font-size: small;
	color: #800d29;
}
#footer a {
	text-decoration: none;
	color: #800d29;
	width: 230px;
}
#footer a {
	width: 230px;
}
#policy {
	margin-left: 40px;
}
#queenstown {
	width: 430px;
	margin-left: 40px;
/*	text-align: left;*/
}
#wanaka {
	width: 450px;
	margin-left: 40px;
}
#phone ,
#email {
	width: 180px;
	margin-left: 40px;
}




